<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Department</title>
</head>
<body>
<a href="/employee">Employee list</a>
<a href="/create-department">Create department</a>
<h1>Department</h1>
<table border="1">
    <tr>
        <td>Name:</td>
        <td>Edit</td>
        <td>Delete</td>
        <td>View</td>
    </tr>
    <th:block th:each="department : ${departments}">
        <tr>
            <td th:text="${department.name}"></td>
            <td><a th:href="@{/edit-department/__${department.id}__}">Edit</a></td>
            <td><a th:href="@{/delete-department/__${department.id}__}">Delete</a></td>
            <td><a th:href="@{/view-department/__${department.id}__}">View</a></td>
        </tr>
    </th:block>
</table>

</body>
</html>